// @import '~antd/es/style/themes/default.less';

.main {
  border-radius: 80px;
  width: 400px;
  height: 400px;
  padding: 35px;
  background-color: #4c317a;
  margin: 100px auto;
  box-shadow: 0 1px 2px -2px rgba(26, 19, 19, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px hsla(0, 0%, 0%, 0.09);
  // @media screen and (max-width: @screen-sm) {
  //   width: 95%;
  //   max-width: 328px;
  // }
  animation-name: test2;
  animation-duration: 3s;
  animation-iteration-count: 1;
  position: relative;
  .bg {
    width: 100%;
    height: 100%;
    margin: -35px;
    position: absolute;
    background: linear-gradient(#6c39c7, #65f0ffbd);
    animation: clipplay 2s infinite alternate linear;
  }
  .form {
    :global {
      .form__item {
        border: none !important;
      }
    }
  }
  .btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .getcode {
    :global {
      .ant-form-item-label {
        width: 74px;
      }
    }
  }
}

.getPssword_root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .getPssword_foom {
    width: 600px;
    padding: 50px 20px 10px 20px;
    background-color: #fff;
  }
  .getPssword_btns {
    width: 600px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #fff;
  }
}
